  
html
  head
    title= "Mongo"
  body
    a(href='/register' ) Registrarse
    br
    br
    table(border='1px')
      thead
        tr
          th Name
          th Email
      tfoot
      tbody
        each user in users
          tr
            td= user.name
            td= user.email
